.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
solver/_05_OUT/
*.gif
*.xdmf
*.h5
artifacts/*
!artifacts/runs/
!artifacts/verification/
!artifacts/vv/

artifacts/runs/*
artifacts/verification/*
artifacts/vv/*

!artifacts/runs/.gitkeep
!artifacts/verification/.gitkeep
!artifacts/vv/.gitkeep